extends ../layout

block content
  h1 Cliente Nuevo
  a(href="/api/v1/clients") Atrás

  form(action="/api/v1/clients" method="POST" encType="multipart/form-data")
    label Descripción
    input(name="nombre" type="text" required="true" placeholder="Nombre")
    label Email
    input(name="email" type="email" required="true" placeholder="Email")
    label Teléfono
    input(name="telefono" type="tel" required="true" placeholder="Teléfono")
    label Categoría
    select(name="categoria_cliente_id")
      each categoria in categorias
        option(value=categoria.id)=categoria.descripcion 
    button Salvar
