extends ../layout

block content
  h1 Productos Ajax

  #form
    label Descripción
    input#id(type="hidden")
    input#descripcion(type="text" placeholder="Descripción")
    button#save Save
    button#cancel Cancelar

  button#refrescar Refrescar
  button#nuevo Nuevo
  table#datos
    tr
      th Descripción
      th Acciones

  script(src="/javascripts/productos_crud.js")
