extends ../layout

block content
  h1 Producto Nuevo
  a(href="/api/v1/products") Atrás

  form(action="/api/v1/products" method="POST" encType="multipart/form-data")
    label Descripción
    input(name="descripcion" type="text" required="true" placeholder="Descripción")
    input(type="file" name="picture")
    button Salvar
