extends ../layout

block content
  h1 Meta Nueva
  br
  a(href='/api/v1/metas') Atrás
  form(action='/api/v1/metas' method='POST')
    label Descripción
    input(name="descripcion" type="text" required="true" placeholder="Descripción de la Meta")
    br
    label Valor Esperado
    input(name="valor_esperado" type="text" required="true" placeholder="Valor Esperado de la Meta")
    br
    label Fecha Límite
    input(name="fecha_limite" type="text" required="true" placeholder="Fecha Límite de la Meta")
    br
    label ID del Producto
    input(name="producto_id" type="text" required="true" placeholder="ID del Producto para la Meta")
    br
    input(type="submit")